.ui-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 170px;
  height: 115px;
  background: white;
  margin-bottom: 5px;
}

.ui-box-line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ui-box-line-head {
  width: 100%;
  height: 20%;
}

.ui-box-line-body {
  width: 100%;
  height: 80%;
}

.ui-box-line-line {
  width: 100%;
  height: 3px;
  background-color: #454444;
}

.ui-box-title {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ui-box-desc {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ui-box-head {
  width: 90%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5px;
}

.ui-box-icon {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-legend-icon {
  align-self: center;
  width: 20%;
  height: 20%;
}

.ui-node-status-pict {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.ui-status-txt {
  color: #636262;
  font-size: 9pt;
  font-weight: normal;
}

.ui-disable-box {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  color: #333;
  font-weight: bolder;
  width: 100%;
  border-radius: 5px;
  background-color: gray;
}

.img-disabled {
  opacity: 0.4;
}
